
.bg-trans {
    background-color: transparent !important;
}

.navbar-active {
    background-color: #1C2331!important;
}



.navbar-inner {
    background:transparent;
}

.navbar-nav {
    padding-left: 30px;
    padding-right: 30px;
}

.nav-link {
    font-family: sans-serif;
    margin-left: 5px;
    margin-right: 5px;
    font-size: larger;
    color: rgb(255, 255, 255) !important;
}

.btn {
    font-family: sans-serif;
    margin-left: 5px;
    margin-right: 5px;
}

.nav-link:hover {
    color: whitesmoke !important;
}

.navbar {
    padding: 12px;
}

@media (max-width : 991px) {
    .btn {
        margin-bottom: 5px;
        margin-top: 5px;
    }
    .bg-trans {
        background-color: #1C2331 !important;
    }
}


/* 
@media (min-width: 800px) and (max-width: 850px) {
    .navbar:not(.top-nav-collapse) {
        background: #1C2331!important;
    }
}
.view,body,html{height:100%}

.navbar{background-color:rgba(0,0,0,.2)}

.page-footer,.top-nav-collapse{background-color:#1C2331}

@media only screen and (max-width:768px){
    .navbar{background-color:#1C2331}} */