.navbar-nav {
    padding-left:30px;
    padding-right:30px;

}

.nav-link {
    font-family: sans-serif;
    margin-left: 5px;
    margin-right: 5px;

  }

.btn {
    font-family: sans-serif;
    margin-left: 5px;
    margin-right: 5px;
}

.nav-link:hover {
    color: white !important;
}
    

.navbar {
    padding: 12px;
}