.navbar-nav {
    padding-left: 30px;
    padding-right: 30px;
}

.nav-link {
    font-family: sans-serif;
    margin-left: 5px;
    margin-right: 5px;
    font-size: larger;
    color: white !important;
}

.btn {
    font-family: sans-serif;
    margin-left: 5px;
    margin-right: 5px;
}

.nav-link:hover {
    color: whitesmoke !important;
}

.navbar {
    padding: 12px;
}

@media (max-width : 990px) {
    .btn {
        margin-bottom: 5px;
        margin-top: 5px;
    }
}